<div class="container">
<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">
    <center><h3 class="panel-title">BACKGROUND</h3></center>
  </div>
  <div class="panel-body">
    <p>At the time of the novels, there are several kingdoms and nations throughout what is
	known as the Westlands, and other lands such as the
	Aiel Waste, or even the islands of the sea. There is also a giant race of people called the Ogier, who are not humans, though they
	have many similar traits to humans.</p>
	<p>You may choose to be from any background, though there are certain limitations for
	some backgrounds. While many backgrounds tend to favor certain roles, others may
	rarely have certain types of heroes.</p>
  </div>
</div>
</div>

<div class="col-md-2"></div>
</div>
</div>


<%= render 'characters/background', character: @character %>
