<h1>create method</h1>


<%= link_to 'Planned Character', background_path(:character => @character.id) %>


<%= link_to 'Quick Character', quick_path %>


<%= link_to 'Random Character', random_path %>


