<div class="container">
<div class="row">
	<div class="col-md-1"></div>
<div class="col-md-10">

	<div class="panel panel-default">

	  <div class="panel-heading">
	    <center><h3 class="panel-title">CREATION METHOD</h3></center>
	  </div>
	  <div class="panel-body">
	    <p>Please choose a Character Creation Method</p>

	    <%= link_to 'Planned Character', background_path(:character => @character.id) %>

		<%= link_to 'Quick Character', quick_path %>

		<%= link_to 'Random Character', random_path %>

	  </div>
	</div>

</div>
	<div class="col-md-1"></div>
</div>
</div>


